@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

%cloud-template {
    width: 700px;
    height: 240px;
    background: url('../assets/img/cloud_alpha.png') center / contain no-repeat;
}

.form-section {
    padding: 1px 15px 180px ;
    position: relative;
    overflow: hidden;

    &__bg-cloud {
        @extend %cloud-template;
    }

    .cloud--left {
        @include m.position(absolute, 1, -1, top, left, 0, -300px);
    }

    .cloud--right {
        @include m.position(absolute, 1, -1, bottom, right, 0, -350px);

    }

    &__wrapper {
        width: 100%;
        height: 360px;
        margin: 0 auto;
        @include m.d-flex(center, center, nowrap, row, 0, 0);
    }

    @media (max-width: v.$media_md) {
        .cloud--right {
            @include m.position(absolute, 1, -1, bottom, right, 20px, -300px);
    
        }
    }
}

.form {
   
    width: min(625px, 100%);
    @include m.d-flex(center, center, nowrap, column, 0, 0);

    &__title {
        @include m.font(36px, 400, v.$color_black);
        padding: 0 0 30px 0;
    }

    // &__name,
    // &__email,
    // &__text 
    input {
        margin: 10px 0;
        width: 100%;
        height: 47px;
        border-radius: 20px;
        border: 1px solid v.$color_black;
        padding: 0 1em;
        @include m.font(22px, 300, v.$color_black);

        &::placeholder {
            @include m.font(25px, 100, v.$color_grey);
        }
    }


    &__submit-btn {
        margin: 10px 0 0 0;
        width: 100%;
        height: 47px;
        border-radius: 20px;
        border: none;
        @include m.font(25px, 500, v.$color_white);
        background-color: v.$color_black;
        cursor: pointer;
        z-index: 2;
        &:hover {
            opacity: 80%;
        }
    }

    @media (max-width: v.$media_md) {

        &__title {
            @include m.font(30px, 400, v.$color_black);
            padding: 0 0 30px 0;
        }
    
        input {
            margin: 10px 0;
            width: 100%;
            height: 47px;
            border-radius: 20px;
            border: 1px solid black;
            padding: 0 1em;
            @include m.font(18px, 300, v.$color_black);

            &::placeholder {
                @include m.font(18px, 100, v.$color_grey);
            }
        }

        &__submit-btn {
            margin: 10px 0 0 0;
            width: 100%;
            height: 47px;
            border-radius: 20px;
            border: none;
            @include m.font(25px, 500, v.$color_white);
            background-color:  rgba($color: #000000, $alpha: 0.75);
        };
            cursor: pointer;
            z-index: 2;
            &:hover {
                opacity: 80%;
            }
        }
       
}