@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

.header {
    height: 52px;
    width: 100%;
    background-color: color.adjust(v.$color_white, $alpha: -0.9);

    border: {
        bottom: {
            width: 1px;
            style: solid;
            color: v.$color_white;
        }
    }

    .nav {
        height: 50px;
        @include m.d-flex(start, center);

        &__title {
            height: 100%;
            width: 255px;
            border-right: 1px solid v.$color_white;

            @include m.d-flex(center, center);

            &-link {
                position: relative;
                font-size: 25px;
                font-weight: 500;
                color: v.$color_white;

                span {
                    font-weight: 700;
                }

                &:hover {
                    cursor: pointer;
                    color: v.$color_grey;
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    right: 100%;
                    /* top: 15px; */
                    bottom: -4px;
                    height: 1px;
                    background-color: v.$color_grey;
                    transition: right .29s;
                }

                &:hover::after {
                    right: 0px;
                }
            }

            @extend %hover-black;
        }


        &__links {
            flex-grow: 1;


            .list {
                @include m.d-flex(start, center, nowrap, row, min(100px, 5vw), 0);
                padding: 0 0 0 min(100px, 5vw);

                &__item {
                    &-link {
                        font-size: 22px;
                        font-weight: 400;
                        color: v.$color_white;
                        position: relative;

                        &:hover {
                            color: v.$color_grey;
                            font-weight: 500;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            display: block;
                            left: 0;
                            right: 100%;
                            /* top: 15px; */
                            bottom: -4px;
                            height: 1px;
                            background-color: v.$color_grey;
                            transition: right .29s;
                        }

                        &:hover::after {
                            right: 0px;
                        }
                    }
                }
            }

            @media (max-width: v.$media_lg) {
                .list {
                    @include m.d-flex(center, center, nowrap, row, min(100px, 5vw), 0);
                    padding: 0 0 0 0;
                }
            }
        }

        .covid {
            height: 100%;
            @include m.d-flex(center, center);
            padding: 0 30px;

            border: {
                left: 1px solid v.$color_white;
            }

            &__link {
                color: v.$color_white;
                position: relative;
                &:hover {
                    color: v.$color_grey;
                }

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    right: 100%;
                    /* top: 15px; */
                    bottom: -4px;
                    height: 1px;
                    background-color: v.$color_grey;
                    transition: right .29s;
                }

                &:hover::after {
                    right: 0px;
                }


            }
        }

        .globe {
            width: 90px;
            @include m.d-flex(center, center);

            &__link {
                &-icon {
                    width: 27px;
                    height: 28px;
                    fill: v.$color_white;

                    &:hover {
                        @extend %hover-black-icon;

                    }
                }
            }
        }
        @media (max-width: v.$media_md) {
            &__links,
            .nav__covid-wrapper,
            .nav__globe-wrapper  {
                display: none;
            }
        }
    }
}

.mobile-navigation {
    display: none;

    &__burger {
        @include m.position(absolute, 10, -1, top, right, 15px, 20px);
        
        &-icon {
            width: 33px;
            height: 22px;
            stroke: v.$color_white;
            @extend %hover-black-icon;  
        }
    }

    &__toggler {
        display: none;

        &:checked  + .nav {
            translate: 0%;
           

        }
    }

    .nav {
        padding: 40px 40px 0;
        @include m.position(fixed, 999, 0,);
        background-color: color.adjust(v.$color_black, $alpha: -0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        translate: 100% 0;
        transition: translate .22s;

        &__list {
            @include m.d-flex(start, start, nowrap, column, 0, 20px);

            &-item {
                &-link {
                    @include m.font(36px, 400, v.$color_white);
                    text-shadow: 2px 2px 3px rgba($color: #000000, $alpha: .3);
                }
            }
        }
    }

    
    &__cross {
        @include m.position(absolute, 10, -1, top, right, 18px, 25px);
        
        &-icon {
            width: 25px;
            height: 22px;
            stroke: v.$color_white;
            @extend %hover-black-icon;  
        }
    }


    @media (max-width: v.$media_md) {
        display: block;
    }
}